# Игнорирование временных файлов и кэша
*.log
*.tmp
*.cache

# Игнорирование системных файлов
.DS_Store           
Thumbs.db          
desktop.ini         

# Игнорирование папок с зависимостями (если позже добавите npm/yarn)
node_modules/

# Игнорирование конфиденциальных данных
*.env
*.key
*.pem

# Игнорирование сгенерированных файлов
dist/
build/

# Игнорирование редакторов и IDE
.vscode/            
.idea/              
*.sublime-*         
